.div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 32px;
  grid-area: icons;
}

.font:hover {
  transition: 0.3s ease;
  color: #9d9d9d;
}

.menu {
  display: none;
}

@media only screen and (max-width: 769px) {
  .logo {
    width: 40%;
    height: auto;
  }

  .menu {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu:hover {
    filter: invert(72%) sepia(15%) saturate(11%) hue-rotate(21deg)
      brightness(85%) contrast(88%);
  }
}
@media only screen and (max-width: 426px) {
  .icons {
    gap: 16px;
  }
}
